# Flutter/Dart specific
.dart_tool/
.firebase/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android NDK build artifacts
android/app/.cxx/

# iOS Swift Package Manager cache
ios/**/xcshareddata/swiftpm/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
macos/.DS_Store

# macOS specific
.DS_Store

# IDE specific
.idea/
.vscode/
*.iml

# Other
*.log
